# Workflow / Scheduler
apache-airflow==3.0.6

# Web App
streamlit

# Data
pandas
numpy
pyarrow
SQLAlchemy
yfinance

# Visualization
matplotlib
seaborn

# AI / NLP
google-genai
openai
langchain
langchain-community
langchain-core

# Utils
requests
tqdm
python-dotenv
fonts-nanum
